[submodule "scripts/TFUtils/models"]
	path = scripts/TFUtils/models
	url = https://github.com/TCNJ-ECE-IMPL/models.git
[submodule "scripts/IMPL_Models"]
	path = scripts/IMPL_Models
	url = https://github.com/TCNJ-ECE-IMPL/IMPL_Models.git
